.footer-wrapper{
    background-color: #1f1f1f;
    width: 100%;
    display: flex;
    color: #fff;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer-wrapper div{
    width: 1200px;
    padding: 2rem;
}
@media screen and (max-width: 600px) {
    .footer-wrapper div{
        width: 100%;
    }
    
}